*{
    font-family:Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
}


/* styles for Login */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#4338ca
}

.login-title{
    margin-bottom: 20px;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 60px;
    border-radius: 16px;
}

.email-input{
    margin-bottom: 10px;
    padding: 20px 24px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px; 
}

.password-input{
    margin-bottom: 10px;
    padding: 20px 24px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px; 
}

.login-button{
    padding: 20px 24px;
    width: 300px;
    background-color: #4338ca; 
    color: white;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
}


/* styles for Register */

.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 60px;
    border-radius: 16px;
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-register{
    margin-bottom: 10px;
    padding: 20px 24px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px; 
}

.register-title{
    margin-bottom: 20px;
}

.register-button{
    padding: 20px 24px;
    width: 300px;
    background-color: #4338ca; 
    color: white;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
}
